extends layout

block content
  .container
    center
      h1= title
      img(src=img, alt="", srcset="")
      p
      p Welcome to "WHY" Worldd
      p Wanna be our member ? 
      a(href='https://youtu.be/dQw4w9WgXcQ') Login
